.einzelneEtappe {
    display: flex;
    flex-direction: column;  
}

.etappenName {

}

.etappenBildPlusDescription {
    display: flex;
    flex-direction: row; 
}

.etappenBild {

}

.etappenDescription {
    
}