*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}



 /*{
    border: 1px solid rgb(19, 18, 18);
}  */

.teutotourenWebsite {
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  flex-direction: column;
  height: 60px;
  background-color: #184D47;
}

